

@media only screen and (max-width: 200px) {

  #bgimage {
    background-image: url('./images/cats_200.jpg');
  }

}

@media only screen and (min-width: 200px) and (max-width: 400px) {

  #bgimage {
    background-image: url('./images/cats_300.jpg');
  }

}


@media only screen and (min-width: 400px) and (max-width: 600px) {

  #bgimage {
    background-image: url('./images/cats_600.jpg');
  }

}

@media only screen and (min-width: 600px) and (max-width: 800px) {

  #bgimage {
    background-image: url('./images/cats_1000.jpg');
  }

}

@media only screen and (min-width: 800px) and (max-width: 1200px) {

  #bgimage {
    background-image: url('./images/cats_1200.jpg');
  }

}


