* {
  box-sizing: border-box;
}

/* Style the top navigation bar */

.top-nav {
  background-color: black;
  display: flex;
  flex-direction: row;
}

/* Style the topnav links */

.top-nav a {
  color: whitesmoke;
  text-decoration: none;
  padding: 1em;
}

/* Change color on hover */

.top-nav a:hover {
  background-color: lightblue;
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media only screen and (max-width: 600px) {
  
  html {
    font-size: 1.2em;
  }
    
  .top-nav {
    display: flex;
    flex-direction: column;
    background-color: pink;
  }
  
  
}

@media only screen and (max-width: 400px) {
  
  html {
    font-size: 1.4em;
  }
    
  .top-nav {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
  }
}
