@media only screen and (max-width: 800px) {

  #bgimage {
    background-image: url('./images/cats_1200.jpg');
  }

}


@media only screen and (max-width: 600px) {

  #bgimage {
    background-image: url('./images/cats_600.jpg');
  }

}

@media only screen and (max-width: 400px) {

  #bgimage {
    background-image: url('./images/cats_400.jpg');
  }

}