@import 'global_val';
@import 'nav';

body {
  font-family: $base-font;
}


.brand-nav .logo img {
  width: 10rem;
}

section.splash {
  border: 1px solid black;
  height: 20rem;
  margin: 2rem auto;
  overflow: hidden;
  background-image: url($bg-img-large);
  background-size:cover;
  background-repeat: no-repeat;
  
}

section.product-list {
  /* display: flex; */
  justify-content:center;
  background-color: aliceblue;
}

section.product-list .item {

  height: 300px;
  border: 1px solid gainsboro;
  padding: 0;
  overflow: hidden;
  /* margin: 0.2rem; */
}

section.product-list img {
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.footer > div {
  flex-grow: 1;
}

@media only screen and (max-width: 667px) {

  #top-nav {

    border: 4px solid pink;

  }

  #top-nav .social {
    display: none;
  }

  #top-nav .label {
    display: none;
  }

  .footer {
    flex-wrap: wrap;
  }

  section.splash {

    border: 2px solid coral;
    background-image: url(http://placekitten.com/600/400);
  }

}


